<!-- Section 4 -->
<section id="section4" class="services">
    <div class="service-wrap">
        <div class="container">
            <!-- Title row -->
            <div class="row">
                <div class="col-md-12 big-title wow bounceIn">
                    <h2>Services</h2>
                </div>

                <div class="clearfix"></div>

                <div class="col-md-12 sub-title text-center wow slideInRight">
                    <h3>Features!</h3>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /Section 4 -->
